* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(219, 219, 219);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(39, 58, 83);
    max-width: 120%;
}

.brand-name {
    font-size: 1.8rem;
    margin: .5rem;
    font-family: 'Brygada 1918', serif;
    color: rgb(231, 231, 231);
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: rgb(216, 216, 216);
    padding: 1rem;
    display: block;  
    font-family: 'Gideon Roman', cursive;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.options {
    max-width: 100%;
}


.alert {
    color: rgb(231, 231, 231);
}

@media (max-width: 756px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .brand-name {
        font-size: 1.4rem;
    }
}